html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
header {
  padding: 5px;
  background-color: #1a1d27;
  color: white;
}
#heading-section {
  padding-top: 10px;
  display: flex;
}
#heading-section div:nth-child(2) {
  padding-left: 10px;
}
#heading-section img {
  border-radius: 90px;
}
#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#side-menu {
  padding: 10px;
  /* background-color: #d6d6e9; */
  border-right: 2px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.input-group {
  display: flex;
  flex-direction: column;
}
#side-menu .input-group input {
  max-width: 70%;
  padding: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
#main {
  padding: 10px;
  flex: 3;
  display: flex;
}
.page {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  /* border: 1px solid gray; */
  flex: 1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}
.page h2 {
  margin-top: 0px;
  color: #057988;
}
#side-menu section {
  flex: 1;
}

.favourite {
  font-weight: bold;
  color: blue;
}

td {
  width: 150px;
  padding: 5px;
}
th {
  padding: 10px;
}

#top-menu-bar {
  color: white;
  text-align: center;
  background-color: #2a80d7;
  margin: 0;
  padding: 2px;
}

#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#top-menu-bar li:hover {
  cursor: pointer;
}

#top-menu-bar a {
  display: inline-block;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.7s;
}

#top-menu-bar a:visited {
  color: white;
}
.selected,
#top-menu-bar a:hover {
  color: #334455 !important;
  background: white;
}

table,
table td,
table th {
  border: 1px solid black;
}

td.favourite {
  font-weight: normal;
  /* color: red; */
}
#job-title {
  color: white;
  text-align: right;
  margin: 0;
}

.d-none {
  display: none !important;
}
