html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-family: "Questrial";
}
header {
  /* padding: 5px; */
  background-color: #2a3e52;
  color: white;
}
#heading-section {
  padding: 10px 0px 10px 50px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;
}

#heading-nav {
  position: absolute;
  left: 100px;
  top: 10px;
  width: 50%;
}
#heading-nav div:first-child {
  display: flex;
}
#heading-nav div:last-child {
  margin-left: 100px;
}

#heading-nav ul {
  color: black;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 3px 0px black;
  margin: 0;
  padding: 2px;
  position: absolute;
  padding: 5px 30px 5px 100px;
  top: 110px;
  left: 110px;
  border-bottom-right-radius: 20px;
}

#heading-section img {
  border-radius: 90px;
  padding: 3px;
  background-color: white;
  box-shadow: 0px 0px 4px 1px black;
  position: relative;
  z-index: 99;
  /* border: 1px solid #2a80d7; */
}
.project-container {
  font-size: 18px;
  margin-top: 20px;
  padding-left: 30px;
}

#projects ul {
  list-style-type: none;
  width: 90%;
  padding-left: 0;

  border-radius: 5px;
  flex: 1;
  margin-top: 0px;
}
#projects ul li {
  margin: 0 10px 0 10px;
  margin-top: 15px;
  border-radius: 5px;
  /* box-shadow: 0px 6px 5px -6px rgba(0, 0, 0, 0.53); */
  padding: 15px;
}
#projects ul li:first-child {
  margin-top: 0;
  padding-top: 0;
}
#projects ul li:before {
  content: "🔹";
}
#projects ul li:not(:last-child) {
  border-bottom: 1px solid #d8d8d8;
}
#projects ul li:last-child {
  margin: 0 10px 0 10px;
}
.project-container a {
  font-weight: bold;
  text-decoration: none;
}
.project-container span {
  display: block;
  padding: 5px 5px 0 20px;
}

#heading-section h1 {
  margin-bottom: 0px;
}
#content {
  flex: 4;
  display: flex;
  flex-direction: row;
  width: 1300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
#side-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.side-menu-container {
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}
#contact-section h2 {
  margin-top: 0px;
  color: #057988;
  font-size: 25px;
}
.input-group {
  display: flex;
  flex-direction: column;
}
#side-menu .input-group input {
  max-width: 70%;
  padding: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
#main {
  flex: 3;
  display: flex;
}
.list-select {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.list-select li {
  margin-top: 10px;
  color: #9a9a9a;
}
.list-select li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.selected-list::after {
  margin-left: 10px;
  content: "\00BB";
}
.skills-list-container {
  display: flex;
  flex-direction: column;
}
#skills .skill-list {
  display: none;
  list-style-type: none;
  width: 90%;
  /* margin: 0 auto; */
  padding: 0 20px 20px 20px;
  border-radius: 5px;
  flex: 1;
  margin-top: 0px;
}
#skill .list-heading {
  font-weight: bold;
  border-bottom: 1px solid #6c757d;
  padding: 0;
  margin-top: 15px;
  font-size: 20px !important;
}

#skills .skill-list li {
  font-size: 18px;
  padding: 10px;
}
#skills .skill-list li:not(:first-child):not(.list-heading) {
  border-bottom: 1px solid #d8d8d8;
  margin: 0 10px 0 10px;
  margin-top: 15px;
  border-radius: 5px;
  /* box-shadow: 0px 6px 5px -6px rgba(0, 0, 0, 0.53); */
}
#skills .skill-list li:last-child {
  margin: 0 10px 0 10px;
}
#about div:first-child {
  display: flex;
  height: 100%;
}
#about section {
  flex: 1;
  padding: 15px;
}
#about h2 {
  text-align: start;
}
#about section:first-child p {
  font-size: 18px;
  line-height: 30px;
}
#about section:first-child p span {
  font-weight: bold;
}
#about section:last-child h2:last-of-type {
  margin-bottom: 0;
  margin-top: 15px;
}
#about section table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  padding: 0;
}
#about section table .info-key {
  text-align: left;
}
#about section table .info-value {
  text-align: right;
}
#about section table tr {
  border-bottom: 1px solid #b0b0b0;
  /* box-shadow: 0px 0px 1px 0px black; */
}
#about section table tr td {
  border: 0;
  font-size: 18px;
  padding-top: 15px;
}
#about section table td a:visited {
  color: black;
}
#about table tr:last-child .info-value {
  font-style: italic;
}
#about section table tr:first-child td {
  padding-top: 0px;
}

#about .info-key {
  font-weight: bold;
}
#about .social-buttons {
  display: flex;
  flex-direction: column;
}
#about .social-buttons a {
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
}
#about .social-buttons a:visited {
  color: black;
}
#about .social-buttons a:hover {
  text-decoration: underline;
}
#about .social-buttons .lk {
  color: #057988;
}
#about .social-buttons .fb {
  color: blue;
}
#about .social-buttons .git {
  color: gray;
}
.page {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  /* border: 1px solid gray; */
  display: none;
  flex: 1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  max-height: 430px;
  overflow: auto;
}

.page section:first-child {
  flex: 1;
}

.page section:last-child {
  flex: 4;
  border-left: 2px solid #9a9a9a;
  overflow: auto;
}
.page h2 {
  font-size: 25px;
  margin-top: 0px;
  color: #057988;
  text-align: center;
}
#side-menu section {
  flex: 1;
}

.favourite {
  font-weight: bold;
  color: #40939d;
}
td {
  width: 150px;
  padding: 5px;
}
th {
  padding: 10px;
}

#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#top-menu-bar li:hover {
  cursor: pointer;
}

#top-menu-bar a {
  display: inline-block;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.7s;
}

#top-menu-bar a:visited {
  color: white;
}
.selected,
#top-menu-bar a:hover {
  color: white !important;
  background: #2a3e52;
}

table,
table td,
table th {
  border: 1px solid black;
  padding: 15px;
}
table th {
  background-color: #057988;
}
#languages table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 60%;
}

td.favourite {
  font-weight: normal;
  /* color: red; */
}
#job-title {
  color: white;
  text-align: right;
  margin: 0;
}

.d-none {
  display: none;
}
.d-flex {
  display: flex;
}

footer {
  /* height: 150px; */
  height: 100px;
  background-color: #2a3e52;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
footer span {
  font-size: 20px;
}
footer ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
footer ul li {
  margin-left: 15px;
  font-size: 18px;
}
footer footer div {
  display: flex;
}
footer a:visited {
  color: white;
}
footer i {
  /* font-size: 20px !important; */
}
